
/*Ovewrite bootstrap theme*/
.panel{
    margin-top:18px;
}

.panel-to-do{
    background-color: rgba(255, 0, 0, 0.06);
}

.panel-in-progress{
    background-color: rgba(255, 255, 0, 0.12);
}

.panel-completed{
    background-color: rgba(0, 128, 0, 0.15);
}

.panel-small-info{
    font-size:10px;
    padding-left:7px;
}

.btn:hover {
    color: white !important;
    text-decoration: none;
}

.well{
    margin-top:10px !important;
}

.btn-settings{
    padding:0px !important;
}

.btn-settings:hover{
    color: #0f0f0f !important;
}

.label{
    cursor: pointer;
}

/*Custom CSS*/
body,html{
    height: 100%;
    background: url("../images/bg.jpg");
    font-family: 'Raleway', sans-serif; !important;
}

.navbar {
     border-radius: 0px !important;
}

