<!DOCTYPE html>
<html lang="en" ng-app="taskManager">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Task Manager</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--Custom CSS-->
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="">
    <div class="col-sm-12">
        <div class="col-md-12">
            <div class="panel-success" ng-controller="TaskListController as taskList">
                <div class="panel-heading">
                    <h3>Task Manager</h3>
                </div>
                <div class="panel-body">

                    <div class="col-sm-12">

                        <div class="col-sm-6">
                            <form class="form-horizontal" action="">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <h4>{{ formTitle }}</h4>
                                    </div>

                                </div>
                                <input type="hidden" ng-model="data.id" />
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="">Title</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="data.title" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="">Priority</label>
                                    <div class="col-sm-4">
                                        <select name="" ng-model="data.priority" id="" class="form-control">
                                            <option value="high">High</option>
                                            <option value="low">Low</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-2" for="">Status</label>
                                    <div class="col-sm-4">
                                        <select name="" ng-model="data.status" id="" class="form-control">
                                            <option selected="selected" value="to-do">To do</option>
                                            <option value="completed">Completed</option>
                                            <option value="on the process">On the Process</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="">Description</label>
                                    <div class="col-sm-10">
                                        <textarea name="" ng-model="data.description" id="" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" ng-repeat="label in data.labels">
                                    <label class="control-label col-sm-2" for="">Labels</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="label.text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-10">
                                        <button type="button"
                                                ng-click="addLabel()"
                                                class="btn btn-primary btn-block"><span class="glyphicon glyphicon-plus"></span> Add Label</button>
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="saveBtn">
                                    <div class="col-sm-2 col-sm-offset-10">
                                        <button type="button"
                                                class="btn btn-success btn-block"
                                                ng-click="submit()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="updateBtn">
                                    <div class="col-sm-4 col-sm-offset-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <button type="button"
                                                        class="btn btn-block btn-default"
                                                        ng-click="cancel()"> Cancel</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="button"
                                                        class="btn btn-danger btn-block"
                                                        ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="col-sm-6">

                            <form class="form-horizontal" action="">

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="searchText" placeholder="Search"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="">Filter Priority</label>
                                    <div class="col-sm-4">
                                        <label class="radio-inline">
                                            <input type="radio" name="filter_priority" ng-model="searchText" value="high"> High
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="filter_priority" ng-model="searchText" value="low"> Low
                                        </label>
                                    </div>
                                    <label class="control-label col-sm-2" for="">Filter Status</label>
                                    <div class="4">
                                        <label class="radio-inline">
                                            <input type="radio" name="filter_status" ng-model="searchText" value="completed"> Completed
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="filter_status" ng-model="searchText" value="on the process"> On the Process
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="filter_status" ng-model="searchText" value="to-do"> To-do
                                        </label>
                                    </div>
                                </div>

                            </form>


                            <table class="table table-bordered table-responsive">
                                <thead>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Labels</th>
                                <th>Priority</th>
                                <th>Status</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in taskList.items | toArray | filter: searchText">
                                    <td>{{ data.title }}</td>
                                    <td>{{ data.description }}</td>
                                    <td>
                                        <ul>
                                            <li ng-repeat="label in data.labels"> {{ label }} </li>
                                        </ul>
                                    </td>
                                    <td>{{ data.priority }}</td>
                                    <td>{{ data.status }}</td>
                                    <td>
                                        <button id="" ng-click="update(data.id)" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Angular-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="js/app.js"></script>
<!--Firebase-->
<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyC1mir7krdyGHx5jqE8yqWLLCL_4cAAQNg",
        authDomain: "real-time-task-manager.firebaseapp.com",
        databaseURL: "https://real-time-task-manager.firebaseio.com",
        storageBucket: "real-time-task-manager.appspot.com",
        messagingSenderId: "1058531001319"
    };
    firebase.initializeApp(config);
</script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!--Custom JS-->
<script src="js/custom.js"></script>
</body>
</html>