<div class="col-md-12">
    <div class="panel panel-success">

        <div class="panel-heading">
            <h3 class="panel-title">Task Manager</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-9">
                <div class="col-sm-12">

                    <div class="panel {{ panelColor }}">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ formTitle }}</h3>
                        </div>

                        <form class="form-horizontal" action="" name="task_form" novalidate ng-submit="testSubmit()">

                            <div class="panel-body">


                                <!--<pre>{{ task_form | json}}</pre>-->

                                <input type="hidden" ng-model="data.id" />
                                <input type="hidden" ng-model="data.order" />
                                <div class="form-group">
                                    <label class="control-label col-sm-12 col-md-2" for="">Title</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input type="text" name="title" ng-model="data.title" required class="form-control input-sm" />
                                        <span class="alert-danger" ng-show="task_form.title.$invalid && task_form.title.$dirty">This field is required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-12 col-md-2" for="">Priority</label>
                                    <div class="col-sm-12 col-md-4">
                                        <select name="" ng-model="data.priority" id="" class="form-control input-sm">
                                            <option value="high">High</option>
                                            <option value="low">Low</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-12 col-md-2" for="">Status</label>
                                    <div class="col-sm-12 col-md-4">
                                        <select name="" ng-model="data.status" id="" class="form-control input-sm">
                                            <option selected="selected" value="to-do">To do</option>
                                            <option value="completed">Completed</option>
                                            <option value="on the process">On the Process</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-12 col-md-2" for="">Description</label>
                                    <div class="col-sm-12 col-md-10">
                                        <textarea name="" ng-model="data.description" id="" class="form-control input-sm"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" ng-repeat="label in data.labels">
                                    <label class="control-label col-sm-12 col-md-2" for="">Label</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input type="text" name="label" ng-model="label.text" required class="form-control input-sm" />
                                        <span class="alert-danger" ng-show="task_form.label.$invalid && task_form.label.$dirty">This field is required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 col-md-3 col-lg-3 pull-right">
                                        <button type="button"
                                                ng-click="addLabel()"
                                                class="btn btn-primary btn-block btn-sm">Add Label</button>
                                    </div>
                                </div>




                            </div>
                            <div class="panel-footer">
                                <button type="button" ng-hide="saveBtn" ng-click="submit()"
                                        class="btn btn-success pull-right btn-sm" ng-disabled="task_form.$invalid"
                                ><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                                <div ng-hide="updateBtn">
                                    <button type="button"
                                            class="btn btn-default btn-sm"
                                            ng-click="cancel()"> Cancel</button>
                                    <button type="button"
                                            class="btn btn-warning pull-right btn-sm"
                                            ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>


                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">To do List
                                <span>{{ todoLength(filteredTodo.length) }}</span>
                                <span class="pull-right">
                                     {{ filteredTodo.length }}
                                </span>
                            </h3>
                        </div>
                        <div class="panel-body panel-to-do">
                            <div class="panel panel-default" ng-repeat="data in taskList.items| toArray | orderBy:'-id' | filter: status.todo as filteredTodo">
                                <div class="panel-body">
                                    <p><b><i>{{ data.title }}</i></b></p>
                                    <p>
                                        <span ng-click="inProgress(data.id)" class="label label-primary">Move to In Progress</span>
                                        <span ng-click="update(data.id)" class="btn btn-settings glyphicon glyphicon-pencil"></span>
                                        <span class="btn btn-settings glyphicon glyphicon-list"
                                              data-toggle="collapse"
                                              data-target="#to-do-{{ data.id }}" aria-expanded="false" aria-controls="collapseExample">
                                        </span>
                                        <span ng-click="delete(data.id)" class="btn btn-settings glyphicon glyphicon-trash"></span>
                                    </p>
                                    <div class="collapse" id="to-do-{{ data.id }}">
                                        <div class="well">
                                            <p><b>Priority </b>{{ data.priority }}</p>
                                            <p><b>Description </b>{{ data.description }}</p>
                                            <p>
                                                <b>Labels:</b>
                                            <ul>
                                                <li ng-repeat="label in data.labels"> {{ label }} </li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p class="panel-small-info"><i><span class="glyphicon glyphicon-time"></span> Added: 8 hours ago</i></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">In Progress
                                <input type="hidden" name="inprog_length" ng-model="taskLength.inprog_length" ng-value="{{ filteredInProgress.length }}" />
                                <span class="pull-right">
                                    {{ filteredInProgress.length }}
                                </span>
                            </h3>
                        </div>
                        <div class="panel-body panel-in-progress">
                            <div class="panel panel-default"
                                 ng-repeat="data in taskList.items | toArray | orderBy:'-id' | filter: status.inProgress as filteredInProgress">
                                <div class="panel-body">
                                    <p><b><i>{{ data.title }}</i></b></p>
                                    <p>
                                        <span ng-click="completed(data.id)" class="label label-success">Mark as Completed</span>
                                        <span ng-click="update(data.id)" class="btn btn-settings glyphicon glyphicon-pencil"></span>
                                        <span class="btn btn-settings glyphicon glyphicon-list"
                                              data-toggle="collapse"
                                              data-target="#in-progress-{{ data.id }}" aria-expanded="false" aria-controls="collapseExample">
                                        </span>
                                        <span ng-click="delete(data.id)" class="btn btn-settings glyphicon glyphicon-trash"></span>
                                    </p>
                                    <div class="collapse" id="in-progress-{{ data.id }}">
                                        <div class="well">
                                            <p><b>Priority </b>{{ data.priority }}</p>
                                            <p><b>Description </b>{{ data.description }}</p>
                                            <p>
                                                <b>Labels:</b>
                                            <ul>
                                                <li ng-repeat="label in data.labels"> {{ label }} </li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p class="panel-small-info"><i><span class="glyphicon glyphicon-time"></span> Added: 2 days ago</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Completed
                                <input type="hidden" name="complete_length" ng-model="taskLength.complete_length" ng-value="{{ filteredCompleted.length }}" />
                                <span class="pull-right">
                                    {{ filteredCompleted.length }}
                                </span>
                            </h3>
                        </div>
                        <div class="panel-body panel-completed">
                            <div class="panel panel-default"
                                 ng-repeat="data in taskList.items | toArray | orderBy:'-id' | filter: status.completed as filteredCompleted">
                                <div class="panel-body">
                                    <p><b><i>{{ data.title }}</i></b></p>
                                    <p>
                                        <span ng-click="update(data.id)" class="btn btn-settings glyphicon glyphicon-pencil"></span>
                                        <span class="btn btn-settings glyphicon glyphicon-list"
                                              data-toggle="collapse"
                                              data-target="#completed-{{ data.id }}" aria-expanded="false" aria-controls="collapseExample">
                                        </span>
                                        <span ng-click="delete(data.id)" class="btn btn-settings glyphicon glyphicon-trash"></span>
                                    </p>
                                    <div class="collapse" id="completed-{{ data.id }}">
                                        <div class="well">
                                            <p><b>Priority </b>{{ data.priority }}</p>
                                            <p><b>Description </b>{{ data.description }}</p>
                                            <p>
                                                <b>Labels:</b>
                                            <ul>
                                                <li ng-repeat="label in data.labels"> {{ label }} </li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p class="panel-small-info"><i><span class="glyphicon glyphicon-time"></span> Added: 10 mins ago</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Task List</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" action="">


                                <button class="btn btn-primary"
                                        type="button" data-toggle="collapse"
                                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Show Filter
                                </button>
                                <div class="collapse" id="collapseExample">
                                    <div class="well">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12 col-md-2" for="">Priority</label>
                                            <div class="col-sm-12 col-md-10">
                                                <label class="radio-inline">
                                                    <input type="radio" name="filter_priority" ng-model="searchText" value="high"> High
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="filter_priority" ng-model="searchText" value="low"> Low
                                                </label>
                                            </div>
                                            <label class="control-label col-sm-12 col-md-2" for="">Status</label>
                                            <div class="col-sm-12 col-md-10">
                                                <label class="radio-inline">
                                                    <input type="radio" name="filter_status" ng-model="searchText" value="completed"> Completed
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="filter_status" ng-model="searchText" value="on the process"> On the Process
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="filter_status" ng-model="searchText" value="to-do"> To-do
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-12 col-md-6 pull-right">
                                        <input type="text" class="form-control input-sm" ng-model="searchText" placeholder="Search"/>
                                    </div>
                                </div>

                            </form>


                            <table class="table table-responsive table-condensed">
                                <thead>
                                <th>Title</th>
                                <!--<th>Description</th>
                                <th>Labels</th>-->
                                <th>Priority</th>
                                <!--<th>Status</th>-->
                                <!--<th>Action</th>-->
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in taskList.items | toArray | orderBy:'-id' | filter: searchText as filteredText">
                                    <td>{{ data.title }}</td>
                                    <!--<td>{{ data.description }}</td>
                                    <td>
                                        <ul>
                                            <li ng-repeat="label in data.labels"> {{ label }} </li>
                                        </ul>
                                    </td>-->
                                    <td>{{ data.priority }}</td>
                                    <!--<td>{{ data.status }}</td>-->
                                    <!--<td>
                                        <button id="" ng-click="update(data.id)" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>-->
                                </tr>
                                </tbody>
                            </table>
                            <div class="pull-right">
                                <i>Total Result: {{ filteredText.length }}</i>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="row">
                    <div google-chart chart="myChartObject" style="height:600px; width:100%;"></div>
                </div>-->

            </div>
        </div>
    </div>
</div>